<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="animal">Nome do animal:</label><br>
        <input type="text" id="animal" name="animal" required><br><br>
        
        <label for="tipo">tipo:</label><br>
        <input type="text" id="tipo" name="tipo" required><br><br>

        <label for="data">Data da adição:</label><br>
        <input type="date" id="data" name="data" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <a href="/lista" class="button">Ver lista</a>
</body>
</html>