<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Página dos corinthianos</h1>
    <img src="https://static.corinthians.com.br/uploads/1608038346421b3ac5c24ee992edd6087611c60dbb.png" width="600" height="300">
    <a href="/login" class="button">Ir para o login</a>
</body>
</html>